body{
    background-color: #F5F5DC;
}

#divnaddivy{
    overflow: auto;
}

#menu{
    display: block;
    position: static;
    width: 12%;
    height: auto;
    border-style: solid;
    border-left-style: none;
    margin-left: -2%;
    clear: both;
    float: left;
}

nav{
    display: block;
    overflow: auto;
    width: 95%;
    margin-top: 22%;
    margin-bottom: 20%;
}

li{
  list-style: none;
  border-style: dashed;
  border-radius: 25%;    
  border-width: medium;
  text-align: center;
  transition-duration: 0.5s; 
    
}

li:hover{
    border-style: solid;
    border-radius: 42%;
    transition-duration: 0.5s;
    border-color: #0000FF;
         
}

a{   
  display: block;    
  text-decoration: none;
  font-family: cursive;    
  color: #000000;
  font-size: 150% ;   
  transition-duration: 0.5s;
    
}

a:hover{
    color: #0000FF;
    transition-duration: 0.5s;
}

#artykull{
    position: absolute;
    text-align: center;
    left: 12%
}

h1{
    font-family: cursive;
    font-size: 225%;
}

p{
    font-family: cursive;
    font-size: 119%;
}

img{
    width: 87%;
    position: relative;
    right: 0%;
    opacity: 0.1;
}

form{
    margin: auto;
}